.godContainer {
    background-color: grey;
}
.images {
    height: 10%;
    width: 50%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.rightInteraction{
    float: right;
    position: relative;
    display: inline-block;
}